<!DOCTYPE html>
<html lang="de">
<link rel="stylesheet" href="./footer.css">
<nav class="footer-container">
    <footer>
        <h6>Hier ist diese Seite zu Ende. Ein Impressum haben wir uns geschenkt. Danke für eure Aufmerksamkeit.</h6>
    </footer>
</nav>
</html>