<!DOCTYPE html>
<html lang="de">
<link rel="stylesheet" href="./header.css">
<nav class="header-container">
    <header class="top-bar">
        <a href="./" class="logo">
            <img src="./logo.png" alt="logo" width="64">
        </a>
        <h1>Finkenavi</h1>
    </header>
</nav>
</html>