/* Variablen */
:root{
    --header-color: #5377A9;
    --background: #384962;
    --form-background: aquamarine;
    --text-color-basic: #b0ccff;
    --button-color: #b0ffb0;
    --map-height: 42rem;
    --map-width: 64rem;

}

body {
    font-family: sans-serif;
    background-color: var(--background);
    margin: 0;
}

main {
    margin-left: 2rem;
    margin-right: 2rem;
}

/* Möglichkeit, die Karte scrollbar zu machen. Ggf. darauf zurückkommen.
div#svg-container{
    height: 16rem;
    width: 16rem;
    border:2px solid #000;
    overflow: scroll;
    scroll-behavior: smooth;
}
svg#svg1{
    height: var(--map-height);
    width: var(--map-width);
}
Ende scrollbare Karte */

.responsive-image {
    width: 100%;
    align-items: center;
    height: auto;
    max-width: 100%;
    display: block;
    margin: 2rem auto 2rem;
    border-radius: 8px;
}

.dropdown-menu {
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 100%;
    color: #00000098;
}

h2, h3, h6 {
    text-align: center;
    color: var(--text-color-basic);
}

h3{
    color: var(--text-color-basic);
}

.search-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}

.form-section {
    flex: 1;
    min-width: 240px;
    max-width: 1080px;
}

.button-box{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
}

.route-button{
    padding: 0.5rem 1rem;
    background-color: var(--button-color);
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    font-size: 0.95rem;
    text-align: center;
}

.route-button:hover {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
}

.route-directions {
    width: 100%;
    max-width: 320px;
    padding: 1rem;
    border-radius: 8px;
    overflow-y: auto;
    flex-shrink: 0;
    box-sizing: border-box;
    margin: 0 auto;
}

.directions-container {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    max-width: 90%;
    margin: 0 auto;
    padding: 0 1rem;
    box-sizing: border-box;
}

.direction-step {
    padding: 0.5rem 1rem;
    background-color: var(--header-color);
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 1px 2px var(--button-color);
    font-size: 0.95rem;
    text-align: center;
}

/* Responsive design for smartphone and tablet */
@media (max-width: 768px) {
    .search-form {
        flex-direction: column;
    }

    .route-directions {
        border-left: none;
        border-top: 2px solid #ddd;
        margin-top: 1rem;
    }
}
