<!DOCTYPE html>
<html lang="de">
<link rel="stylesheet" href="./styles.css">

{{>layout/head}}

<body>

<!--Top-Bar mit Logo-->
{{>layout/header}}

<!--Suchformular-->
<main class="search-form">

    <!--Grundriss als Vektorgrafik-->
    {{>layout/map}}

    <form class="form-section" action="./navigate" method="post">
        <article>
            <h1>Wo bist du gerade?</h1>
            <select name="start-location" class="dropdown-menu">
                <option value="" disabled selected>Bitte auswählen...</option>
                {{#allSelectableRooms}}
                    <option value="{{name}}">{{name}}</option>
                {{/allSelectableRooms}}
            </select>
        </article>

        <br>

        <article>
            <h1>Wo willst du hin?</h1>
            <select name="destination" class="dropdown-menu">
                <option value="" disabled selected>Bitte auswählen...</option>
                {{#allSelectableRooms}}
                    <option value="{{name}}">{{name}}</option>
                {{/allSelectableRooms}}
            </select>
        </article>
        <br>
        <br>
        <article class="button-box">
            <button type="submit" class="route-button">Let's go</button>
        </article>
        <br>
    </form>
</main>

<!--Fußnote, ggf. füllen in ./footer.mustache-->
{{>layout/footer}}

</body>
</html>
