<!DOCTYPE html>
<html lang="en">
<head>
    <title>Registrierung</title>
</head>

<body>
    <form action="/start" method="post">
        <input type="text" name="user" id="name" placeholder="Username" required>
        <input type="password" name="pWord" placeholder="password" required>
        <input type="submit" value="Registrierung">
    </form>
</body>

</html>